<main class="max-h-dvh flex w-full p-2">
  <section class="flex overflow-clip bg-cover bg-no-repeat rounded-3xl flex-col h-full justify-center" style="background-image: url('https://i.pinimg.com/564x/d5/fd/e6/d5fde66e8bb016d7cfc7f8b6479897be.jpg')">
    <section class="flex flex-col bg-white/50 mx-12 backdrop-blur-lg max-w-fit rounded-[32px] p-4">
      <div class="w-full rounded-[26px] py-6">
        <img src="<%= asset_path('login-img2.png') %>" alt="Loading animation" class="h-[450px] mx-auto">
      </div>
      <div class="w-full bg-white p-4 flex gap-4 justify-center items-center z-20 rounded-[20px] text-center">
        <h1 class="bg-zinc-200 rounded-2xl h-full px-4 flex items-center">
          <svg width="62" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.210227 6.93182V6.25L5.69886 3.45455V4.54545L1.48864 6.57386L1.52273 6.50568V6.67614L1.48864 6.60795L5.69886 8.63636V9.72727L0.210227 6.93182ZM10.9158 0.863636L8.10334 11.3125H7.18288L9.99538 0.863636H10.9158ZM17.8864 6.93182L12.3977 9.72727V8.63636L16.608 6.60795L16.5739 6.67614V6.50568L16.608 6.57386L12.3977 4.54545V3.45455L17.8864 6.25V6.93182Z" fill="black" />
          </svg>
        </h1>
        <p class="font-medium text-2xl text-zinc-800">Coding playground with structured and fun courses with <span class="font-semibold text-3xl">LI<span class="text-amber-500">LEARNV</span></span></p>
      </div>
    </section>



  </section>

</main>